:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: roboto, sans-serif;
}

/* Хедер. Лого */

.header-logo {
  text-decoration: none;
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-black {
  color: black;
}
.logo-white {
  color: white;
}

/* Хедер. Навигация */

.header-list {
  list-style: none;
}
.header-item.current-page {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}
.contact-list {
  list-style: none;
}
.contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero-section {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}

/* Основной блок */
/* Преимущества */

.advantage-list {
  list-style: none;
}
.advantage-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.work-list {
  list-style: none;
}

/* Наша команда */
.team-section {
  background-color: #f5f4fa;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-list {
  list-style: none;
}
.team-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Футер */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-white {
  color: #fff;
}
.footer-addres {
  color: #fff;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-list {
  list-style: none;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ./portfolio.html */
/* Портфолио */

.btn-list {
  list-style: none;
}

.button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.button.btn-text.current-button {
  background-color: var(--accent-color);
  color: #fff;
}
.example-list {
  list-style: none;
}
.example-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
